<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Daywise Report" | translate }}</ion-title>
    <ion-buttons end *ngIf="daywiseReportData.length > 0">
      <!-- <button ion-button style="background: white; color: #d80622;" small (click)="OnExport()">{{"Export To
        Excel" | translate}}</button> -->
      <button ion-button icon-only style="color: #fff;" small (click)="OnExport()">
        <ion-icon name="custom-excel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-item style="height: 45px; background-color: #fafafa;">
    <ion-label> {{"Select Vehicle" | translate }} </ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [isMultiple]="true" [canSearch]="true" (onChange)="getDaywisedevice(selectedVehicle)">
    </select-searchable>
  </ion-item>
  <ion-row style="background-color: #fafafa;">
    <ion-col style="text-align: center;">
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('today')">{{"Today" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('yest')">{{"Yesterday" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('week')">{{"Week" | translate}}</button>
      <button ion-button round small style="background-color: #f0810f; font-size: 0.8em; padding: 10px;width: 21%;"
        (click)="changeDate('month')">{{"Month" | translate}}</button>
    </ion-col>
  </ion-row>
  <ion-row padding-left padding-right style="background-color: #fafafa;">
    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "From Date" }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="datetimeStart"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">{{ "To Date"  }}</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;">
        </ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getDaywiseReport()">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>

  <ion-card *ngFor="let item of daywiseReportData; let i = index">
    <ion-item style="border-bottom: 2px solid #dedede;">

      <ion-row>
        <ion-col col-3>
          <img src="assets/imgs/car2.png" style="
            margin-top: -10px;
            width: 40px;
            height: 40px;" />
        </ion-col>
        <ion-col col-5>
          <p style="
            color:black;
            font-size:16px;
            margin: 0px;">
            {{ item.VRN }}
          </p>
        </ion-col>
        <ion-col col-4>
          <p style="
            text-align: center;
            font-size: 11px;
            color:#11c1f3;
            font-weight:bold;">
            {{item.Date}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top:2%;">
        <ion-col col-3>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;">
            {{item['Moving Time']}}
          </p>

          <p style="
          font-size: 11px;
          color:#53ab53;
          font-weight:bold;">
            {{'Moving' }}
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
            color:gray;
            font-size:11px;
            font-weight:400;
            margin-left: 8px;">
            {{item['Stoppage Time']}}
          </p>

          <p style="
          font-size: 11px;
          color:red;
          font-weight:bold;
          margin-left: 8px;">
            {{'Stopped'}}
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
          color:gray;
          font-size:11px;
          font-weight:400;
          margin-left: 20px;">
            {{item['Idle Time']}}
          </p>

          <p style="
        color:#e6c917;
        font-size: 11px;
        font-weight: bold;
        margin-left: 20px;">
            {{'Idle' }}
          </p>
        </ion-col>
        <ion-col col-3>
          <p style="
          color:gray;
          font-size:11px;
          font-weight:400;
          margin-left: 15px;">
            {{item['Distance(Kms)']}}
            <!-- {{item.Distance(Kms)}} -->
          </p>

          <p style="
          color:#009688;
          font-size:11px;
          font-weight: bold;
          margin-left: 15px;">
            {{'Distance' }}
          </p>
        </ion-col>
      </ion-row>


      <!--
      -->
      <ion-row style="padding-top: 5px;">
        <ion-col col-1>
          <ion-icon name="pin" style="color:#33c45c; font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col col-11 (onCreate)="start_address(item, i)" style="font-size: 0.8em;">

          <div class="overme">
            {{ item.StartLocation }}
          </div>

        </ion-col>
      </ion-row>
      <ion-row style="padding-top: 5px;">
        <ion-col col-1>
          <ion-icon name="pin" style="color:#e14444;font-size:15px;"></ion-icon>
        </ion-col>
        <ion-col col-11 (onCreate)="end_address(item, i)" style="font-size: 0.8em;">

          <div class="overme">
            {{ item.EndLocation }}
          </div>

        </ion-col>
      </ion-row>
      <!-- </ion-scroll> -->


    </ion-item>
  </ion-card>
</ion-content>
