<ion-header color="gpsc">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'Daily Report' | translate}}</ion-title>
    <ion-buttons end>
      <ion-datetime class="dateStyle" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater" [max]="today" [(ngModel)]="to"
        (ionChange)="getDailyReportData()"></ion-datetime>
    </ion-buttons>
    <ion-buttons end *ngIf="deviceReport.length > 0">
      <button ion-button icon-only style="color: #fff;" small (click)="OnClick()">
        <ion-icon name="custom-excel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-item style="height: 45px; background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">{{'Select Vehicle' | translate}}</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
      itemTextField="Device_Name" [canSearch]="true" (onChange)="getSelectedId(selectedVehicle)" [isMultiple]="true">
    </select-searchable>
  </ion-item>
  <!-- <ion-item style="height: 45px; background-color: #fafafa; text-align: right;">
    <button ion-button style="background: #d80622; color: #fff;" small (click)="OnExport()">{{"Export To
      Excel" | translate}}</button>
  </ion-item> -->
</ion-header>

<ion-content class="printable-area" id="printable-area">
  <!-- <div class="printable-content">
    <div class="printable-area" id="printable-area"> -->
      <ion-card *ngFor="let item of deviceReport" >
        <ion-item style="border-bottom: 2px solid #dedede;">
          <ion-avatar item-start>
            <img src="assets/imgs/car2.png" />
          </ion-avatar>
          <p style="color:black; font-size:16px; padding-left: 4px;">
            {{ item.Device_Name }}
          </p>
          <ion-row style="margin-top:6%;">
            <ion-col>
              <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                <span *ngIf="item.today_running">{{ item.today_running }}</span>
                <span *ngIf="!item.today_running">00.00</span>&nbsp;
              </p>

              <p style="color:#53ab53;margin-left:0%;font-size:11px;font-weight: bold;">
                {{'Running' | translate}}
              </p>

            </ion-col>
            <ion-col>
              <p style="color:gray;font-size:11px; margin-top: -9px;  text-align:left;font-weight:400;">
                <span *ngIf="item.today_stopped">{{ item.today_stopped }}</span>
                <span *ngIf="!item.today_stopped">00.00</span>&nbsp;
              </p>

              <p style="text-align:left;font-size: 11px;color:red; font-weight:bold;">
                {{'Stop' | translate}}
              </p>

            </ion-col>


            <ion-col>
              <p
                style="color:gray;font-size:11px; margin-top: -9px; margin-left: 5px; text-align:left;font-weight:400;">
                <span *ngIf="item.t_idling">{{ item.t_idling }}</span>
                <span *ngIf="!item.t_idling">00.00</span>&nbsp;
              </p>

              <p style="text-align:left;font-size: 11px;color:#e6c917; margin-left: 5px; font-weight:bold;">
                Idle
              </p>

            </ion-col>
            <ion-col>
              <p
                style="color:gray;font-size:11px; margin-top: -9px; text-align:left; margin-left:-20%;font-weight:400;">
                <span *ngIf="item.t_ofr">{{ item.t_ofr }}</span>
                <span *ngIf="!item.t_ofr">00.00</span>&nbsp;
              </p>

              <p style="color:#009688;margin-left:-20%;font-size: 11px;font-weight: bold;">
                {{'Out of reach' | translate}}
              </p>

            </ion-col>
          </ion-row>
          <ion-row style="margin-top: 2%;">
            <ion-col>
              <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight: 400;">
                <span *ngIf="item.today_odo">{{
              item.today_odo | number: "1.0-2"
            }}</span>
                <span *ngIf="!item.today_odo">00.00</span>&nbsp;
              </p>

              <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: bold;">
                {{'Distance' | translate}}
              </p>

            </ion-col>
            <ion-col>
              <p style="color:gray;font-size:11px; margin-top: -9px; text-align:left;font-weight:400;">
                <span *ngIf="item.maxSpeed">{{ item.maxSpeed }}{{'Km/hr' | translate}}</span>
                <span *ngIf="!item.maxSpeed">00.00</span>&nbsp;
              </p>

              <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: bold;">
                {{'Max Speed' | translate}}
              </p>

            </ion-col>
            <ion-col center text-center>
              <p style="color:gray;font-size:11px; margin-top: -9px;  text-align:left;font-weight: 400;">
                <span *ngIf="item.today_trips">{{ item.today_trips }}</span>
                <span *ngIf="!item.today_trips">00.00</span>&nbsp;
              </p>

              <p style="text-align:left;font-size: 11px;color:#11c1f3;  font-weight:bold;">
                {{'Trips' | translate}}
              </p>

            </ion-col>

            <ion-col>
              <p
                style="color:gray;font-size:11px; margin-top: -9px; margin-left: -20px; text-align:left;font-weight:400;">
                <span>{{ item.mileage }}</span>
              </p>

              <p style="color:#009688;margin-left:0%;font-size: 11px;font-weight: bold; margin-left: -20px;">
                {{'Fuel Con(Litre)' | translate}}
              </p>

            </ion-col>
          </ion-row>
        </ion-item>
      </ion-card>
    <!-- </div>
  </div> -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>