<div class="mainDiv">
    <ion-buttons end>
        <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="close-circle"></ion-icon>
        </button>
    </ion-buttons>
    <div class="secondDiv">
        <ion-grid>
            <ion-row no-padding>
                <ion-col width-50>
                    <div class="design">
                        <span class="cont">
                            <p>ARM</p>
                        </span>
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center;">
                            <img src="assets/imgs/lock.png" />
                        </div>
                    </div>
                </ion-col>
                <ion-col width-50>
                    <div class="design">
                        <span class="cont">
                            <p>DISARM</p>
                        </span>
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center;">
                            <img src="assets/imgs/unlock.png" />
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-50>
                    <div class="design">
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center; padding-top: 38px">
                            <img src="assets/imgs/play.png" />
                        </div>
                        <span class="cont">
                            <p>RESUME CAR</p>
                        </span>
                    </div>
                </ion-col>
                <ion-col width-50>
                    <div class="design">
                        <div style="height: 60px; width: 70px; margin: auto; text-align: center; padding-top: 38px">
                            <img src="assets/imgs/stop.png" />
                        </div>
                        <span class="cont">
                            <p>STOP CAR</p>
                        </span>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="final" (click)="voiceToText()">
            <img src="assets/imgs/support.png" class="manual" />
            <p>LISTEN</p>
        </div>
        <div style="padding: 5px;">
            <button ion-button (click)="dismiss()" color="gpsc" block>
                Submit
            </button>
        </div>
    </div>
</div>